body {
    background-color: #8babf1;
    color: aliceblue;
    margin: 0 0 0 10px;
}

h1 {
    font-size: 48px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h2, h3 {
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #054fb9;
}

p {
    line-height: normal;
}

/* Images */

img {
    border: 5px solid #d9e4ff;
    padding: 10px;
    margin: 20px;
    border-radius: 0px 30px 0 0;
}

img.umich {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #61a480;
    line-height: 25px;
}

li {
    float: left;
}

li a {
    display: block;
    color: #d9e4ff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav {
    font-size: 24px;
    font-weight: 800;
    display: block;
    text-align: center;
}

nav ul {
    text-align: center;
}